html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 23px;
}


/*
背景图片
*/
body {
    background-image: url("../../images/moutain2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}



/*
回到顶部按钮
*/
/* 位置 */
#up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
/* 大小 */
#up button {
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    border-color: rgb(174, 174, 174, 0);
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
/* 选中效果 */
#up button:hover {
    background-color: rgb(57, 57, 57);
    color: white;
}






/*
技能图表 Skill
*/
.skill {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(248,244,244);     /* 背景色 */
}
/* 标题 */
.skill h2 {
    padding-top: 2rem;
    letter-spacing: 1px;
    margin-left: 3rem;
    font: bold 28px STXihei, "Microsoft YaHei";    /* 字体 */
}
/* 表格布局 */
.chart {
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
}
/* 表格宽度 */
.chart table{
    width: 30%;
}
/* 柱状图 属性 */
.chart .bar {
    --color: rgba(90,165,255,0.5);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom right, rgb(246,246,246), 75%, rgb(211,211,211));
    box-shadow:
            inset -5px -5px 10px rgba(0, 0, 0, 0.5),
            5px 5px 5px rgba(0, 0, 0, 0.5);
}
.chart caption {
    font: bold 20px Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
/*柱状图 标签属性*/
.chart th {
    font: 18px Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
/* 柱状图 柱子属性 */
.chart .bar td {
    border-radius: 0.5rem;
    box-shadow:
            inset -5px -5px 10px rgba(0, 0, 0, 0.5),
            5px 5px 5px rgba(0, 0, 0, 0.5);
}

.chart .pie td {
    box-shadow:
            inset -3px -3px 10px rgba(0, 0, 0, 0.3),
            6px 6px 6px rgba(0, 0, 0, 0.2);
}



.construction{
    width: 100%;
    height: 10rem;
    background-color: white;
    flex: 50px;
}





*{
    margin: 0;
    padding: 0;
}
